In [56]:
import pandas as pd
import datetime as datetime
import numpy as np
import matplotlib.pyplot as plt
plt.style.use('ggplot')
%matplotlib inline

In [57]:
df = pd.read_csv('COVID19_line_list_data.csv')

In [60]:
df.shape

(1085, 27)

In [61]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1085 entries, 0 to 1084
Data columns (total 27 columns):
id                       1085 non-null int64
case_in_country          888 non-null float64
reporting date           1084 non-null object
Unnamed: 3               0 non-null float64
summary                  1080 non-null object
location                 1085 non-null object
country                  1085 non-null object
gender                   902 non-null object
age                      843 non-null float64
symptom_onset            563 non-null object
If_onset_approximated    560 non-null float64
hosp_visit_date          507 non-null object
exposure_start           128 non-null object
exposure_end             341 non-null object
visiting Wuhan           1085 non-null int64
from Wuhan               1081 non-null float64
death                    1085 non-null object
recovered                1085 non-null object
symptom                  270 non-null object
source                   1085 non-null object
link                     1085 non-null object
Unnamed: 21              0 non-null float64
Unnamed: 22              0 non-null float64
Unnamed: 23              0 non-null float64
Unnamed: 24              0 non-null float64
Unnamed: 25              0 non-null float64
Unnamed: 26              0 non-null float64
dtypes: float64(11), int64(2), object(14)
memory usage: 229.0+ KB

In [62]:

df.drop(df.columns[df.columns.str.contains('unnamed',case = False)],axis = 1, inplace=True)

In [63]:
df.describe()

,id,case_in_country,age,If_onset_approximated,visiting Wuhan,from Wuhan
count,1085.000000,888.000000,843.000000,560.000000,1085.000000,1081.000000
mean,543.000000,48.841216,49.483689,0.042857,0.176959,0.144311
std,313.356825,78.853528,18.255334,0.202716,0.381810,0.351567
min,1.000000,1.000000,0.250000,0.000000,0.000000,0.000000
25%,272.000000,11.000000,35.000000,0.000000,0.000000,0.000000
50%,543.000000,28.000000,51.000000,0.000000,0.000000,0.000000
75%,814.000000,67.250000,64.000000,0.000000,0.000000,0.000000
max,1085.000000,1443.000000,96.000000,1.000000,1.000000,1.000000

In [64]:
df.dropna(how='all')

,id,case_in_country,reporting date,summary,location,country,gender,age,symptom_onset,If_onset_approximated,hosp_visit_date,exposure_start,exposure_end,visiting Wuhan,from Wuhan,death,recovered,symptom,source,link
0,1,NaN,1/20/2020,First confirmed imported COVID-19 pneumonia pa...,"Shenzhen, Guangdong",China,male,66.0,01/03/20,0.0,01/11/20,12/29/2019,01/04/20,1,0.0,0,0,NaN,Shenzhen Municipal Health Commission,http://wjw.sz.gov.cn/wzx/202001/t20200120_1898...
1,2,NaN,1/20/2020,First confirmed imported COVID-19 pneumonia pa...,Shanghai,China,female,56.0,1/15/2020,0.0,1/15/2020,NaN,01/12/20,0,1.0,0,0,NaN,Official Weibo of Shanghai Municipal Health Co...,https://www.weibo.com/2372649470/IqogQhgfa?fro...
2,3,NaN,1/21/2020,First confirmed imported cases in Zhejiang: pa...,Zhejiang,China,male,46.0,01/04/20,0.0,1/17/2020,NaN,01/03/20,0,1.0,0,0,NaN,Health Commission of Zhejiang Province,http://www.zjwjw.gov.cn/art/2020/1/21/art_1202...
3,4,NaN,1/21/2020,new confirmed imported COVID-19 pneumonia in T...,Tianjin,China,female,60.0,NaN,NaN,1/19/2020,NaN,NaN,1,0.0,0,0,NaN,人民日报官方微博,https://m.weibo.cn/status/4463235401268457?
4,5,NaN,1/21/2020,new confirmed imported COVID-19 pneumonia in T...,Tianjin,China,male,58.0,NaN,NaN,1/14/2020,NaN,NaN,0,0.0,0,0,NaN,人民日报官方微博,https://m.weibo.cn/status/4463235401268457?
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1080,1081,2.0,2/25/2020,"new COVID-19 patient confirmed in Austria: 24,...",Innsbruck,Austria,NaN,24.0,NaN,NaN,NaN,NaN,NaN,0,0.0,0,0,NaN,Jakarta Post,https://www.thejakartapost.com/news/2020/02/25...
1081,1082,1.0,2/24/2020,new COVID-19 patient confirmed in Afghanistan:...,Afghanistan,Afghanistan,NaN,35.0,NaN,NaN,NaN,NaN,NaN,0,0.0,0,0,NaN,Fox News,https://www.foxnews.com/health/afghanistan-fir...
1082,1083,1.0,2/26/2020,new COVID-19 patient confirmed in Algeria: mal...,Algeria,Algeria,male,NaN,NaN,NaN,NaN,NaN,2/17/2020,0,0.0,0,0,NaN,South China Morning Post,https://www.scmp.com/news/china/society/articl...
1083,1084,1.0,2/25/2020,new COVID-19 patient confirmed in Croatia: mal...,Croatia,Croatia,male,NaN,NaN,NaN,NaN,2/19/2020,2/21/2020,0,0.0,0,0,NaN,Reuters,https://www.reuters.com/article/us-croatia-cor...
1084,1085,1.0,2/25/2020,new COVID-19 patient confirmed in Switzerland:...,Bern,Switzerland,male,70.0,2/17/2020,NaN,NaN,2/15/2020,2/15/2020,0,0.0,0,0,NaN,Reuters,https://www.reuters.com/article/uk-switzerland...

In [65]:
df['case_in_country'].value_counts(dropna=False)

NaN      197
1.0       37
2.0       24
3.0       22
6.0       19
        ...
147.0      1
141.0      1
135.0      1
129.0      1
136.0      1
Name: case_in_country, Length: 198, dtype: int64

In [66]:
df.dropna(subset=['case_in_country'],inplace=True)

## Is it okay to use dates like this?
## I am not able find a way to convert them to a single proper format of %m%d%y.
## some dates are in the format: 02/08/20

In [68]:
df['reporting date'].value_counts(dropna=False)

2/27/2020    91
2/20/2020    73
2/26/2020    54
2/25/2020    46
2/19/2020    42
2/21/2020    35
2/24/2020    33
2/22/2020    31
1/31/2020    28
02/08/20     26
2/23/2020    26
2/28/2020    25
02/06/20     24
02/04/20     24
1/30/2020    23
02/05/20     22
2/14/2020    21
1/29/2020    20
02/09/20     19
02/10/20     19
2/13/2020    18
1/28/2020    18
2/16/2020    16
2/17/2020    14
2/15/2020    13
2/18/2020    13
02/11/20     13
1/24/2020    13
1/25/2020    13
02/01/20     12
02/02/20     10
1/27/2020     9
1/26/2020     9
02/07/20      8
02/03/20      7
02/12/20      6
1/22/2020     5
1/23/2020     2
1/21/2020     2
1/15/2020     1
1/17/2020     1
1/13/2020     1
1/20/2020     1
NaN           1
Name: reporting date, dtype: int64

In [162]:
df.head()

,id,case_in_country,reporting date,summary,location,country,gender,age,symptom_onset,If_onset_approximated,hosp_visit_date,exposure_start,exposure_end,visiting Wuhan,from Wuhan,death,recovered,symptom,source,link
197,198,1.0,1/25/2020,"new confirmed COVID-19 patient in Bordeaux, Fr...",Bordeaux,France,male,48,1/23/2020,0,1/23/2020,No date,1/22/2020,1,0.0,No Date,No Date,Not identified,CNBC,https://www.cnbc.com/2020/01/25/reuters-americ...
198,199,2.0,1/25/2020,"new confirmed COVID-19 patient in Paris, Franc...",Paris,France,male,31,1/19/2020,0,1/19/2020,No date,1/18/2020,0,1.0,No Date,02/12/20,Not identified,CGTN,https://newseu.cgtn.com/news/2020-01-26/Corona...
199,200,3.0,1/25/2020,"new confirmed COVID-19 patient in Paris, Franc...",Paris,France,female,30,1/23/2020,0,1/23/2020,No date,1/19/2020,0,1.0,No Date,02/12/20,Not identified,CGTN,https://newseu.cgtn.com/news/2020-01-26/Corona...
200,201,4.0,1/28/2020,"new confirmed COVID-19 patient in Paris, Franc...",Paris,France,male,80,1/25/2020,1,1/25/2020,No date,1/23/2020,0,1.0,2/14/2020,No Date,Not identified,The Local,https://www.thelocal.de/20200128/number-of-ger...
201,202,5.0,1/29/2020,"new confirmed COVID-19 patient in Paris, Franc...",Paris,France,female,No age,No date,NaN,No date,No date,1/23/2020,1,0.0,No Date,No Date,Not identified,The Local,https://www.thelocal.fr/20200131/coronavirus-i...

In [88]:
pd.to_datetime(df['reporting date'].astype(str), format='%m/%d/%Y',errors='coerce')

197    2020-01-25
198    2020-01-25
199    2020-01-25
200    2020-01-28
201    2020-01-29
          ...
1080   2020-02-25
1081   2020-02-24
1082   2020-02-26
1083   2020-02-25
1084   2020-02-25
Name: reporting date, Length: 887, dtype: datetime64[ns]

In [91]:
df['reporting date'].isnull().sum()

0

In [92]:
df.dropna(subset=['reporting date'],inplace=True)

In [93]:
df

,id,case_in_country,reporting date,summary,location,country,gender,age,symptom_onset,If_onset_approximated,hosp_visit_date,exposure_start,exposure_end,visiting Wuhan,from Wuhan,death,recovered,symptom,source,link
197,198,1.0,1/25/2020,"new confirmed COVID-19 patient in Bordeaux, Fr...",Bordeaux,France,male,48.0,1/23/2020,0.0,1/23/2020,NaN,1/22/2020,1,0.0,0,0,NaN,CNBC,https://www.cnbc.com/2020/01/25/reuters-americ...
198,199,2.0,1/25/2020,"new confirmed COVID-19 patient in Paris, Franc...",Paris,France,male,31.0,1/19/2020,0.0,1/25/2020,NaN,1/18/2020,0,1.0,0,02/12/20,NaN,CGTN,https://newseu.cgtn.com/news/2020-01-26/Corona...
199,200,3.0,1/25/2020,"new confirmed COVID-19 patient in Paris, Franc...",Paris,France,female,30.0,1/23/2020,0.0,1/25/2020,NaN,1/19/2020,0,1.0,0,02/12/20,NaN,CGTN,https://newseu.cgtn.com/news/2020-01-26/Corona...
200,201,4.0,1/28/2020,"new confirmed COVID-19 patient in Paris, Franc...",Paris,France,male,80.0,1/25/2020,1.0,1/25/2020,NaN,1/23/2020,0,1.0,2/14/2020,0,NaN,The Local,https://www.thelocal.de/20200128/number-of-ger...
201,202,5.0,1/29/2020,"new confirmed COVID-19 patient in Paris, Franc...",Paris,France,female,NaN,NaN,NaN,NaN,NaN,1/23/2020,1,0.0,0,0,NaN,The Local,https://www.thelocal.fr/20200131/coronavirus-i...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1080,1081,2.0,2/25/2020,"new COVID-19 patient confirmed in Austria: 24,...",Innsbruck,Austria,NaN,24.0,NaN,NaN,NaN,NaN,NaN,0,0.0,0,0,NaN,Jakarta Post,https://www.thejakartapost.com/news/2020/02/25...
1081,1082,1.0,2/24/2020,new COVID-19 patient confirmed in Afghanistan:...,Afghanistan,Afghanistan,NaN,35.0,NaN,NaN,NaN,NaN,NaN,0,0.0,0,0,NaN,Fox News,https://www.foxnews.com/health/afghanistan-fir...
1082,1083,1.0,2/26/2020,new COVID-19 patient confirmed in Algeria: mal...,Algeria,Algeria,male,NaN,NaN,NaN,NaN,NaN,2/17/2020,0,0.0,0,0,NaN,South China Morning Post,https://www.scmp.com/news/china/society/articl...
1083,1084,1.0,2/25/2020,new COVID-19 patient confirmed in Croatia: mal...,Croatia,Croatia,male,NaN,NaN,NaN,NaN,2/19/2020,2/21/2020,0,0.0,0,0,NaN,Reuters,https://www.reuters.com/article/us-croatia-cor...
1084,1085,1.0,2/25/2020,new COVID-19 patient confirmed in Switzerland:...,Bern,Switzerland,male,70.0,2/17/2020,NaN,NaN,2/15/2020,2/15/2020,0,0.0,0,0,NaN,Reuters,https://www.reuters.com/article/uk-switzerland...

In [94]:
df['summary'].value_counts(dropna=False)

new confirmed COVID-19 patient in South Korea:                                                                                                                                                                                        22
new confirmed COVID-19 patient in Germany: NRW                                                                                                                                                                                        14
new confirmed COVID-19 patient in Iran: Qom                                                                                                                                                                                            9
new confirmed COVID-19 patient in Kuwait: returned from Iran                                                                                                                                                                           8
new confirmed COVID-19 patient in Thailand: Chinese national                                                                                                                                                                           5
                                                                                                                                                                                                                                      ..
new confirmed COVID-19 patient in Japan: Nagoya, male, 60s, fever, cough, headache, went to doctor 2/26                                                                                                                                1
new confirmed COVID-19 patient in Japan: Nagoya City, female, 70s, fever, cough, sore throat, runny nose and went to doctor 2/24                                                                                                       1
new confirmed COVID-19 patient in Japan: Hokkaido, female, 70s, fever and malaise 2/17, went to doctor 2/20, emergency transport to hospital 2/24                                                                                      1
new confirmed COVID-19 patient in Singapore: male, 32, evacuated from Wuhan 2/9                                                                                                                                                        1
new confirmed COVID-19 patient in Japan: female, 40s, lives in Kanagawa Prefecture symptom onset 2/14 (fever, vomiting, diarrhea), went to medical consultation 2/14, worked at a hospital where infected patient was from 2/1-2/5     1
Name: summary, Length: 775, dtype: int64

In [95]:
df['summary'].isnull().sum()

0

In [96]:
df['location'].value_counts(dropna=False)

South Korea    112
Singapore       93
Hong Kong       80
Hokkaido        48
Thailand        41
              ...
Castellon        1
Lebanon          1
Israel           1
Langkawi         1
Montpellier      1
Name: location, Length: 125, dtype: int64

In [97]:
df['location'].isnull().sum()

0

In [98]:
df.dropna(subset=['location'],inplace=True)

In [99]:
df['country'].value_counts(dropna=False)

Japan          189
South Korea    114
Hong Kong       94
Singapore       93
Germany         54
Thailand        41
France          39
Taiwan          34
Spain           34
Malaysia        23
UAE             21
UK              20
USA             18
Iran            18
Bahrain         17
Vietnam         16
Australia       15
Canada          12
Kuwait           9
Phillipines      3
India            3
Italy            3
Russia           2
Austria          2
Belgium          1
Switzerland      1
Egypt            1
Algeria          1
Croatia          1
Sweden           1
Cambodia         1
Lebanon          1
Finland          1
Sri Lanka        1
Afghanistan      1
Israel           1
Nepal            1
Name: country, dtype: int64

In [100]:
df['gender'].value_counts(dropna=False)

male      396
female    309
NaN       182
Name: gender, dtype: int64

In [101]:
df['gender'].fillna('No Gender', inplace = True)

In [102]:
df['age'].value_counts(dropna=False)

NaN     234
55.0     68
65.0     48
75.0     36
45.0     36
       ...
82.0      1
4.0       1
6.0       1
20.0      1
81.0      1
Name: age, Length: 82, dtype: int64

In [103]:
df['age']=df['age'].astype('object')

In [104]:
df['age'].fillna('No age', inplace = True)

In [105]:
df['age'].isnull().sum()

0

In [106]:
df['symptom_onset'].value_counts(dropna=False)

NaN          468
1/23/2020     19
1/30/2020     19
02/03/20      18
1/25/2020     17
2/16/2020     17
1/24/2020     16
2/20/2020     16
1/28/2020     15
02/01/20      15
2/17/2020     13
02/12/20      13
2/14/2020     12
1/26/2020     12
02/08/20      11
02/06/20      11
02/04/20      11
02/02/20      11
02/10/20      10
1/29/2020     10
2/24/2020      9
1/21/2020      9
2/13/2020      9
1/22/2020      8
1/20/2020      8
2/19/2020      8
1/27/2020      8
1/31/2020      8
02/07/20       8
02/09/20       7
2/21/2020      7
2/25/2020      7
2/18/2020      7
2/22/2020      6
02/11/20       6
2/23/2020      6
2/15/2020      5
02/05/20       4
1/19/2020      4
2/26/2020      3
01/03/20       2
1/14/2020      2
1/18/2020      2
1/16/2020      2
1/13/2020      2
1/17/2020      1
1/15/2020      1
01/12/20       1
01/11/20       1
01/05/20       1
01/10/20       1
Name: symptom_onset, dtype: int64

In [108]:
df['symptom_onset'].isnull().sum()

468

In [113]:
pd.to_datetime(df['symptom_onset'].astype(str), format='%m/%d/%Y',errors='coerce')

197    2020-01-23
198    2020-01-19
199    2020-01-23
200    2020-01-25
201           NaT
          ...
1080          NaT
1081          NaT
1082          NaT
1083          NaT
1084   2020-02-17
Name: symptom_onset, Length: 887, dtype: datetime64[ns]

In [114]:
df['symptom_onset']=df['symptom_onset'].astype('object')
df['symptom_onset'].fillna('No date', inplace = True)
df['symptom_onset'].isnull().sum()

0

In [116]:
df['If_onset_approximated'].value_counts(dropna=False)

NaN    469
0.0    394
1.0     24
Name: If_onset_approximated, dtype: int64

In [117]:
df['If_onset_approximated']=df['If_onset_approximated'].astype('object')
df['age'].fillna('Not approximated', inplace = True)
df['age'].isnull().sum()

0

In [118]:
df['hosp_visit_date'].value_counts(dropna=False)

NaN          529
2/17/2020     20
02/03/20      17
1/30/2020     15
02/10/20      15
2/25/2020     14
1/23/2020     13
2/24/2020     13
02/01/20      12
2/22/2020     12
2/21/2020     12
1/25/2020     12
02/07/20      11
02/04/20      10
1/28/2020     10
1/24/2020      9
2/18/2020      9
1/31/2020      8
02/02/20       8
1/29/2020      8
2/26/2020      8
2/19/2020      8
02/12/20       8
02/06/20       8
2/13/2020      7
1/27/2020      7
02/09/20       7
02/05/20       6
2/23/2020      6
2/20/2020      6
1/19/2020      6
1/26/2020      6
02/11/20       5
2/15/2020      5
02/08/20       5
2/14/2020      5
2/16/2020      4
1/22/2020      4
1/21/2020      3
1/13/2020      3
2/27/2020      2
1/17/2020      2
1/20/2020      2
2/28/2020      1
1/15/2020      1
01/06/20       1
2//2020        1
1/16/2020      1
2/22/20        1
01/08/20       1
Name: hosp_visit_date, dtype: int64

In [119]:
pd.to_datetime(df['hosp_visit_date'].astype(str), format='%m/%d/%Y',errors='coerce')

197    2020-01-23
198    2020-01-25
199    2020-01-25
200    2020-01-25
201           NaT
          ...
1080          NaT
1081          NaT
1082          NaT
1083          NaT
1084          NaT
Name: hosp_visit_date, Length: 887, dtype: datetime64[ns]

In [124]:
df['hosp_visit_date']=df['hosp_visit_date'].astype('object')
df['hosp_visit_date'].fillna('No date', inplace = True)
df['hosp_visit_date'].isnull().sum()

0

In [125]:
df['exposure_start'].value_counts(dropna=False)

No date       793
1/26/2020      14
1/24/2020      12
1/20/2020       7
1/25/2020       7
1/23/2020       6
1/22/2020       6
2/19/2020       5
2/15/2020       3
1/18/2020       3
1/13/2020       3
1/19/2020       3
1/21/2020       3
02/12/20        2
1/17/2020       2
1/27/2020       2
01/10/20        2
02/11/20        1
2/21/2020       1
2/17/2020       1
1/15/2020       1
01/08/20        1
1/30/2020       1
01/12/20        1
01/11/20        1
12/24/2019      1
02/04/20        1
1/16/2020       1
1/28/2020       1
2/20/2020       1
02/10/20        1
Name: exposure_start, dtype: int64

In [126]:
pd.to_datetime(df['exposure_start'].astype(str), format='%m/%d/%Y',errors='coerce')

197           NaT
198           NaT
199           NaT
200           NaT
201           NaT
          ...
1080          NaT
1081          NaT
1082          NaT
1083   2020-02-19
1084   2020-02-15
Name: exposure_start, Length: 887, dtype: datetime64[ns]

In [127]:
df['exposure_start']=df['exposure_start'].astype('object')
df['exposure_start'].fillna('No date', inplace = True)
df['exposure_start'].isnull().sum()

0

In [107]:
df['exposure_end'].value_counts(dropna=False)

NaN           744
1/22/2020      34
1/23/2020      27
1/20/2020      26
1/21/2020      25
1/19/2020      19
1/18/2020      16
1/17/2020      15
1/28/2020      15
1/26/2020      14
1/15/2020      12
1/16/2020      10
1/30/2020      10
2/21/2020       9
1/13/2020       8
1/31/2020       8
01/12/20        6
1/24/2020       6
02/04/20        5
1/14/2020       5
2/22/2020       4
1/25/2020       4
02/02/20        4
1/27/2020       4
01/11/20        4
02/03/20        3
01/08/20        3
01/10/20        3
02/01/20        3
2/19/2020       3
2/20/2020       3
02/07/20        3
2/15/2020       3
2/18/2020       2
2/23/2020       2
2/17/2020       2
01/18/2020      2
1/29/2020       2
01/04/20        2
02/09/20        2
01/22/2020      1
01/05/20        1
01/06/20        1
01/07/20        1
01/02/20        1
2/24/2020       1
01/03/20        1
01/09/20        1
2/13/2020       1
2/16/2020       1
02/08/20        1
2/25/2020       1
02/05/20        1
Name: exposure_end, dtype: int64

In [ ]:
pd.to_datetime(df['exposure_end'].astype(str), format='%m/%d/%Y',errors='coerce')

In [128]:
df['exposure_end']=df['exposure_end'].astype('object')
df['exposure_end'].fillna('No date', inplace = True)
df['exposure_end'].isnull().sum()

0

In [129]:
df['visiting Wuhan'].value_counts(dropna=False)

0    780
1    107
Name: visiting Wuhan, dtype: int64

In [130]:
df['from Wuhan'].value_counts(dropna=False)

0.0    813
1.0     74
Name: from Wuhan, dtype: int64

In [131]:
df['death'].value_counts(dropna=False)

0            863
2/23/2020      4
2/26/2020      3
1              3
2/19/2020      2
2/27/2020      2
2/25/2020      2
2/21/2020      2
2/28/2020      1
2/13/2020      1
2/24/2020      1
02/01/20       1
2/14/2020      1
2/22/2020      1
Name: death, dtype: int64

In [139]:
pd.to_datetime(df['death'].astype(str), format='%m/%d/%Y',errors='coerce')
df['death'].replace(to_replace =["0", "1"],  
                            value ="No Date",inplace=True)

In [140]:
df['death']=df['death'].astype('object')
df['death'].fillna('No date', inplace = True)
df['death'].isnull().sum()

0

In [142]:
df['recovered'].value_counts(dropna=False)

0             731
2/18/2020      13
2/19/2020      13
12/30/1899     12
02/12/20       11
2/21/2020      10
2/20/2020       9
2/15/2020       9
2/14/2020       8
2/17/2020       7
2/24/2020       7
2/26/2020       6
02/09/20        6
2/27/2020       5
2/25/2020       5
02/04/20        4
02/06/20        4
1               4
02/11/20        3
2/16/2020       3
2/22/2020       3
02/05/20        2
02/08/20        2
1/30/2020       2
1/17/2020       1
02/07/20        1
02/02/20        1
1/31/2020       1
2/13/2020       1
2/28/2020       1
1/15/2020       1
2/23/2020       1
Name: recovered, dtype: int64

In [143]:
pd.to_datetime(df['recovered'].astype(str), format='%m/%d/%Y',errors='coerce')
df['recovered'].replace(to_replace =["0", "1"],  
                            value ="No Date",inplace=True)

In [144]:
df['recovered']=df['recovered'].astype('object')
df['recovered'].fillna('No date', inplace = True)
df['recovered'].isnull().sum()

0

In [145]:
df['symptom'].value_counts(dropna=False)

NaN                                620
fever                               72
fever, cough                        36
cough                               14
fever, malaise                       7
                                  ...
cough, sneeze                        1
fever, cough, sputum, malaise        1
high fever, chills, muscle pain      1
fever, abdominal pain, diarrhea      1
feve\                                1
Name: symptom, Length: 108, dtype: int64

In [153]:
 df['symptom'].fillna("Not identified", inplace = True) 
df['symptom'].isnull().sum()

0

In [155]:
df['source'].value_counts(dropna=False)

Ministry of Health                 178
KCDC                               103
Ministry of Health Singapore        67
Government HK                       60
Channel News Asia                   51
                                  ...
rthk.hk                              1
Vietnam Insider                      1
US News                              1
Thomson Reuters Foundation News      1
Nikkei Asian Review                  1
Name: source, Length: 74, dtype: int64

In [156]:
df['source'].isnull().sum()

0

In [157]:
df['link'].value_counts(dropna=False)

https://www.mhlw.go.jp/stf/houdou/houdou_list_202002.html                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                          87
https://www.mhlw.go.jp/stf/newpage_09713.html                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                      48
https://www.moh.gov.sg/news-highlights/details/two-more-cases-discharged-two-new-cases-of-novel-coronavirus-infection-confirmed                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                    22
https://www.mhlw.go.jp/stf/newpage_09652.html                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                      22
http://behdasht.gov.ir/news/%DA%A9%D8%B1%D9%88%D9%86%D8%A7+%D9%88%DB%8C%D8%B1%D9%88%D8%B3/199807/%D8%AF%D8%B1+%D8%B1%D9%88%D8%B2%D9%87%D8%A7%DB%8C+%DA%AF%D8%B0%D8%B4%D8%AA%D9%87+735+%D8%A8%DB%8C%D9%85%D8%A7%D8%B1+%D8%A8%D8%A7+%D8%B9%D9%84%D8%A7%D8%A6%D9%85+%D8%B4%D8%A8%D9%87+%D8%A2%D9%86%D9%81%D9%84%D9%88%D8%A2%D9%86%D8%B2%D8%A7+%D8%AF%D8%B1+%DA%A9%D8%B4%D9%88%D8%B1+%D8%A8%D8%B3%D8%AA%D8%B1%DB%8C+%D8%B4%D8%AF%D9%86%D8%AF+%D8%A8%D8%B1+%D8%A7%D8%B3%D8%A7%D8%B3+%D8%A2%D8%AE%D8%B1%DB%8C%D9%86+%D9%86%D8%AA%D8%A7%DB%8C%D8%AC+%D8%A2%D8%B2%D9%85%D8%A7%DB%8C%D8%B4+%D9%87%D8%A7+%D8%A7%D8%A8%D8%AA%D9%84%D8%A7%DB%8C+13+%D9%85%D9%88%D8%B1%D8%AF+%D8%AF%DB%8C%DA%AF%D8%B1+%D8%A8%D9%87+%DA%A9%D9%88%D9%88%DB%8C%D8%AF19+%D9%82%D8%B7%D8%B9%DB%8C+%D8%A8%D9%87+%D9%86%D8%B8%D8%B1+%D9%85%DB%8C+%D8%B1%D8%B3%D8%AF    16
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                   ..
https://www.cdc.go.kr/board/board.es?mid=a30402000000&bid=0030&act=view&list_no=366261&tag=&nPage=16                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                1
https://www.channelnewsasia.com/news/asia/wuhan-virus-coronavirus-thailand-cases-12410692                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                           1
https://www3.nhk.or.jp/nhkworld/en/news/20200116_23/                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                1
https://www.channelnewsasia.com/news/asia/wuhan-virus-coronavirus-thailand-cases-12410694                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                           1
https://www.cdc.go.kr/board/board.es?mid=a30402000000&bid=0030&act=view&list_no=366261&tag=&nPage=39                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                1
Name: link, Length: 416, dtype: int64

In [160]:
df['link'].isnull().sum()

0

In [161]:
df

,id,case_in_country,reporting date,summary,location,country,gender,age,symptom_onset,If_onset_approximated,hosp_visit_date,exposure_start,exposure_end,visiting Wuhan,from Wuhan,death,recovered,symptom,source,link
197,198,1.0,1/25/2020,"new confirmed COVID-19 patient in Bordeaux, Fr...",Bordeaux,France,male,48,1/23/2020,0,1/23/2020,No date,1/22/2020,1,0.0,No Date,No Date,Not identified,CNBC,https://www.cnbc.com/2020/01/25/reuters-americ...
198,199,2.0,1/25/2020,"new confirmed COVID-19 patient in Paris, Franc...",Paris,France,male,31,1/19/2020,0,1/19/2020,No date,1/18/2020,0,1.0,No Date,02/12/20,Not identified,CGTN,https://newseu.cgtn.com/news/2020-01-26/Corona...
199,200,3.0,1/25/2020,"new confirmed COVID-19 patient in Paris, Franc...",Paris,France,female,30,1/23/2020,0,1/23/2020,No date,1/19/2020,0,1.0,No Date,02/12/20,Not identified,CGTN,https://newseu.cgtn.com/news/2020-01-26/Corona...
200,201,4.0,1/28/2020,"new confirmed COVID-19 patient in Paris, Franc...",Paris,France,male,80,1/25/2020,1,1/25/2020,No date,1/23/2020,0,1.0,2/14/2020,No Date,Not identified,The Local,https://www.thelocal.de/20200128/number-of-ger...
201,202,5.0,1/29/2020,"new confirmed COVID-19 patient in Paris, Franc...",Paris,France,female,No age,No date,NaN,No date,No date,1/23/2020,1,0.0,No Date,No Date,Not identified,The Local,https://www.thelocal.fr/20200131/coronavirus-i...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1080,1081,2.0,2/25/2020,"new COVID-19 patient confirmed in Austria: 24,...",Innsbruck,Austria,No Gender,24,No date,NaN,No date,No date,No date,0,0.0,No Date,No Date,Not identified,Jakarta Post,https://www.thejakartapost.com/news/2020/02/25...
1081,1082,1.0,2/24/2020,new COVID-19 patient confirmed in Afghanistan:...,Afghanistan,Afghanistan,No Gender,35,No date,NaN,No date,No date,No date,0,0.0,No Date,No Date,Not identified,Fox News,https://www.foxnews.com/health/afghanistan-fir...
1082,1083,1.0,2/26/2020,new COVID-19 patient confirmed in Algeria: mal...,Algeria,Algeria,male,No age,No date,NaN,No date,No date,2/17/2020,0,0.0,No Date,No Date,Not identified,South China Morning Post,https://www.scmp.com/news/china/society/articl...
1083,1084,1.0,2/25/2020,new COVID-19 patient confirmed in Croatia: mal...,Croatia,Croatia,male,No age,No date,NaN,No date,2/19/2020,2/21/2020,0,0.0,No Date,No Date,Not identified,Reuters,https://www.reuters.com/article/us-croatia-cor...
1084,1085,1.0,2/25/2020,new COVID-19 patient confirmed in Switzerland:...,Bern,Switzerland,male,70,2/17/2020,NaN,2/17/2020,2/15/2020,2/15/2020,0,0.0,No Date,No Date,Not identified,Reuters,https://www.reuters.com/article/uk-switzerland...